.sectionTopic{
    color:white;
    width: 100%;
    margin-top: 15px;
    padding: 10px 15px;
    box-shadow: 0px 8px 4px rgba(255, 254, 254, 0.2);
    opacity: 0.8;
    cursor: default;
    
}

.carrouselSection{
    height: 900px;
    width: 98vw;
    margin: 10px 0px;
}

/* Estilos para as setas personalizadas */
.custom-prev-arrow::before,
.custom-next-arrow::before {
    position: absolute;
    top: 50%; 
    z-index: 1000;
    transform: translateY(-50%); /* Ajusta para o centro vertical */
    font-size: 40px !important;
    opacity: 0.9;
    transition: all ease 0.4s;
}

.custom-prev-arrow {
    left: 40px; 
}

.custom-next-arrow {
    right: 40px; 
}
